@model List<ChefGetVM>

<div class="container">

	<div class="row">

		<table class="table table-striped">
			<thead>
				<tr>
					<th scope="col">Id</th>
					<th scope="col">FullName</th>
					<th scope="col">Description</th>
					<th scope="col">ImagePath</th>
				</tr>
			</thead>
			<tbody>

				@foreach (var chef in Model)
				{
					<tr>
						<th scope="row">@chef.Id</th>
						<td>@chef.FullName</td>
						<td>@chef.Description</td>
						<td><img src="~/@chef.ImagePath"/></td>
						<td>

							<a asp-action="Update" asp-route-id="@chef.Id" class="btn btn-warning">Update</a>
							<a asp-action="Delete" asp-route-id="@chef.Id" class="btn btn-danger">Delete</a>

						</td>

					</tr>
				}

			</tbody>
		</table>

	</div>

</div>